In [5]:
## Eventually, I'd like to create a program which automatically pulls data from 
## the Japanese Ministry of Health, Labor and Welfare and imports it into a dashboard.

import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context
dataCases = 'http://covid19.mhlw.go.jp/public/opendata/newly_confirmed_cases_daily.csv'
dataSevere = 'http://covid19.mhlw.go.jp/public/opendata/severe_cases_daily.csv'
dataDeaths = 'http://covid19.mhlw.go.jp/public/opendata/deaths_cumulative_daily.csv'

dfCases = pd.read_csv(dataCases)
dfSevere = pd.read_csv(dataSevere)
dfDeaths = pd.read_csv(dataDeaths)

In [6]:
dfCases.head()

,Date,ALL,Hokkaido,Aomori,Iwate,Miyagi,Akita,Yamagata,Fukushima,Ibaraki,...,Ehime,Kochi,Fukuoka,Saga,Nagasaki,Kumamoto,Oita,Miyazaki,Kagoshima,Okinawa
0,2020/1/16,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020/1/17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020/1/18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020/1/19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020/1/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
dfSevere.head()

,Date,ALL,Hokkaido,Aomori,Iwate,Miyagi,Akita,Yamagata,Fukushima,Ibaraki,...,Ehime,Kochi,Fukuoka,Saga,Nagasaki,Kumamoto,Oita,Miyazaki,Kagoshima,Okinawa
0,2020/5/9,267,23,0,0,0,0,0,0,3,...,2,0,0,1,0,2,0,0,0,5
1,2020/5/10,249,28,0,0,0,0,0,0,3,...,2,0,0,1,0,2,0,0,0,5
2,2020/5/11,243,26,0,0,0,0,0,0,2,...,1,0,0,1,0,2,0,0,0,5
3,2020/5/12,259,24,0,0,0,0,2,0,2,...,0,0,11,0,0,2,0,0,0,4
4,2020/5/13,245,19,0,0,0,0,2,2,2,...,0,0,11,0,0,2,0,0,0,4

In [8]:
dfDeaths.head()

,Date,ALL,Hokkaido,Aomori,Iwate,Miyagi,Akita,Yamagata,Fukushima,Ibaraki,...,Ehime,Kochi,Fukuoka,Saga,Nagasaki,Kumamoto,Oita,Miyazaki,Kagoshima,Okinawa
0,2020/5/9,613,48,0,0,1,0,0,0,9,...,3,3,24,0,1,3,1,0,0,5
1,2020/5/10,621,51,0,0,1,0,0,0,9,...,3,3,24,0,1,3,1,0,0,5
2,2020/5/11,643,56,0,0,1,0,0,0,9,...,3,3,24,0,1,3,1,0,0,5
3,2020/5/12,668,62,0,0,1,0,0,0,9,...,3,3,24,0,1,3,1,0,0,6
4,2020/5/13,687,68,0,0,1,0,0,0,9,...,3,3,24,0,1,3,1,0,0,6